.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;

  background-image: linear-gradient(rgba(0, 0, 0, 0.237), rgba(0, 0, 0, 0.237)),
    url("https://images.unsplash.com/photo-1598546720078-8659863bc47d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
